{% extends 'base.html.twig' %}

{% block title %}PersonLocation{% endblock %}

{% block body %}
    <h1>PersonLocation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ person_location.id }}</td>
            </tr>
            <tr>
                <th>VisitedAt</th>
                <td>{{ person_location.visitedAt ? person_location.visitedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Person</th>
                <td>{{ person_location.person.firstname }} {{ person_location.person.lastname }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ person_location.visitedAt ? person_location.visitedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('person_location_index') }}">back to list</a>

    <a href="{{ path('person_location_edit', {'id': person_location.id}) }}">edit</a>

    {{ include('person_location/_delete_form.html.twig') }}
{% endblock %}
