{% extends 'base.html.twig' %}

{% block title %}Person{% endblock %}

{% block body %}
    <h1>Person</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ person.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ person.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ person.lastname }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
    {% for account in person.accounts %}
        <li>{{ account.iban }}</li>
    {% endfor %}
    </ul>

    <a href="{{ path('app_person_index') }}">back to list</a>

    <a href="{{ path('app_person_edit', {'id': person.id}) }}">edit</a>
    <a href="{{ path('app_account_new_person', {'id': person.id}) }}">Creer un compte</a>

    {{ include('person/_delete_form.html.twig') }}
{% endblock %}
