{% extends 'base.html.twig' %}

{% block title %}Person{% endblock %}

{% block body %}
    <h1>{{ person.firstname }} {{ person.lastname }}</h1>

    <div class="accordion" id="accordionExample">
        {% for account in person.accounts %}
        <div class="accordion-item">
            <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#account{{ account.id}}" aria-expanded="false" aria-controls="account{{ account.id}}">
                {{ account.type.value }} - {{account.iban}} : {{ account.balance|number_format(2, '.', ',') }}
            </button>
            </h2>
            <div id="account{{ account.id}}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                {% for transaction in account.debitTransactions|merge(account.creditTransactions)|sort((a, b) => a.date|date('YmdHis') < b.date|date('YmdHis'))|slice(0, 4) %}
                    {{ transaction.label}} / {% if transaction.debitAccount == account %}-{% else %}+{% endif %}{{ transaction.amount|number_format(2, '.', ',') }}<br />
                {% endfor %}
            </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <a href="{{ path('app_person_index') }}">back to list</a>

    <a href="{{ path('app_person_edit', {'id': person.id}) }}">edit</a>
    <a href="{{ path('app_account_new_person', {'id': person.id}) }}">Creer un compte</a>

    {{ include('person/_delete_form.html.twig') }}
{% endblock %}
